@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
    background-color: gray !important;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.chakra-slide {
    top: initial !important;
    bottom: initial !important;
    z-index: 1;
}

#ace-editor {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background: #25272c;
}

::-webkit-scrollbar-thumb {
    border: 4px solid #25272c;
    border-radius: 7px;
    background: #6c7078;
    background-clip: content-box;
}

::placeholder {
    opacity: 0.40;
    color: #ffffff;
}